apiVersion: v1
kind: Service
metadata:
  name: {{ include "goose-k8s-demo.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "goose-k8s-demo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: web
      protocol: TCP
      name: web
  selector:
    {{- include "goose-k8s-demo.selectorLabels" . | nindent 4 }}
