{{- if .Values.ingress.enabled -}}
{{- $fullName := include "k8s-chat.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "k8s-chat.labels" . | nindent 4 }}
spec:
  rules:
  - host: k8s-chat.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
          service:
            name: {{ $fullName }}
            port:
              number: {{ $svcPort }}
          {{- else }}
          serviceName: {{ $fullName }}
          servicePort: {{ $svcPort }}
          {{- end }}
{{- end }}
